.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.my-button {
  padding: 5px 0px;
  width: 'auto';
  height: 'auto';
  color: #fafaff;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-family: monospace;
  font-weight: bold;
  font-size: 20px;
  transition: transform 0.3s;
  margin-left: 40px;
}

/* 👆 Hover effect */
.my-button:hover {
  transform: scale(1.05);
}

/* 👇 Clicked (active) effect */
.my-button:active {
  /* background-color: #334; */
  transform: scale(1);
}
.header2 {
  display: inline-block;
  font-family: Oxygen;
  font-size: 20px;
  font-weight: bold;
  color: #fafaff;
  width: 50%;
  padding-left: 5%;
  padding-right: 5%;

}
.textinput {
  width: calc(90% - 20px);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  height: 20px;
  margin-left: 5%;
  margin-right: 5%;

  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Oxygen;
  color: #1a1a2a;
  
  
}

.textarea {
  width: 100%;
  height: 150px;
  margin-left: 5%;
  margin-right: 5%;
  padding: 10px;
  
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  font-family: Oxygen;
  color: #1a1a2a;
  resize: none;
}

.button2 {
  background-color: #fafaff;
  color: #1a1a2a;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin-left: 100px;
  margin-top: 20px;
  margin-right: 100px;
  margin-bottom: 50px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: Oxygen;
  font-size: 20px;
}

/* 👆 Hover effect */
.button2:hover {
  transform: scale(1.05);
}

/* 👇 Clicked (active) effect */
.button2:active {
  background-color: #ddd;
  transform: scale(1);
}

.headerTab {
    font-family: 'Monospace';
    font-size: 20px;
    color: #1a1a2a;
    text-align: center;
    padding: 10px;

}

.slopeBegin {
  clip-path: polygon(0px 0px, 700px 0px, 300px 800px, 0px 800px);
}

.slopeEnd {
  clip-path: polygon(1800px 0, 1800px 0px, 1800px 800px, 1400px 100%);
}
.slopeContent {
  clip-path: polygon(700px 0px, 1800px 0px, 1400px 800px, 300px 800px);
}

.slopeBegin,
.slopeEnd,
.slopeContent {
  position: absolute;
  width: 1800px;
  height: 800px;
  cursor: pointer;
}

@media (max-width: 1125px) {
  .menu {
    border: white;
    border-style: solid;
    display: none !important;
    flex-direction: column;
    position: absolute;
    top: 50%;
    width: 50%;
    right: calc(5% + 35px);
    background: #1a1a2a;
    padding: 10px;
    padding-right: 60px;
    border-radius: 10px;
  }

  .menu.open {
    display: flex !important;
  }

  .hamburger {
    display: flex !important;
  }

  .navhr.open {
    display: flex !important;
    padding: 0%;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left: -20px;
    margin-right: -60px;
    width: 100%;
    border-color: white;
    height:0px;
    border-top:1px
  }
}
.navhr.closed {
    margin-left:5%;
    border-color: #1a1a2a;
    border-bottom:0px;
    height:0px;
  }

.menuNavBar {
  display: flex;
  justify-content: right;
  width: calc(100% - 250px);
}
.parallaxScreen {
  width: calc(100% + 3800px);
}